.navbar-logo {
	width: 1.5rem;
	height: auto;
}

.carousel-item > img {
	cursor: pointer !important;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}
