.navbar-logo {
	width: 1.5rem;
	height: auto;
}

.carousel-item > img {
	cursor: pointer !important;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}

.card > img.card-img-top {
	height: 15rem !important;
}

.card-text {
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
}

.pagination-links {
	margin: 30px 0;
}

.pagination-links strong {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}

a.pagination-link {
	padding: 8px 13px;
	margin: 5px;
	background: #f4f4f4;
	border: 1px #ccc solid;
}
